<div class="row">
	<list-phones></list-phones>
	<!--
	<div class="col-lg-3">
		<ul>
			<li>Auction Title</li>
			<li><img src="" width="200" height="200"></li>
			<li>$100</li>
			<li>3 days remaining</li>
			<li><a href="#">Bid</a></li>
			<li><a href="#">Watch</a></li>
		</ul>
	</div>
	
	<div class="col-lg-3">
		<ul>
			<li>Auction Title</li>
			<li><img src="" width="200" height="200"></li>
			<li>$100</li>
			<li>3 days remaining</li>
			<li><a href="#">Bid</a></li>
			<li><a href="#">Watch</a></li>
		</ul>
	</div>
	
	<div class="col-lg-3">
		<ul>
			<li>Auction Title</li>
			<li><img src="" width="200" height="200"></li>
			<li>$100</li>
			<li>3 days remaining</li>
			<li><a href="#">Bid</a></li>
			<li><a href="#">Watch</a></li>
		</ul>
	</div>

	<div class="col-lg-3">
		<ul>
			<li>Auction Title</li>
			<li><img src="" width="200" height="200"></li>
			<li>$100</li>
			<li>3 days remaining</li>
			<li><a href="#">Bid</a></li>
			<li><a href="#">Watch</a></li>
		</ul>
	</div>
	
	<div class="col-lg-3">
		<ul>
			<li>Auction Title</li>
			<li><img src="" width="200" height="200"></li>
			<li>$100</li>
			<li>3 days remaining</li>
			<li><a href="#">Bid</a></li>
			<li><a href="#">Watch</a></li>
		</ul>
	</div>
	
	<div class="col-lg-3">
		<ul>
			<li>Auction Title</li>
			<li><img src="" width="200" height="200"></li>
			<li>$100</li>
			<li>3 days remaining</li>
			<li><a href="#">Bid</a></li>
			<li><a href="#">Watch</a></li>
		</ul>
	</div>
	-->
</div>

