<!DOCTYPE html>
<html>
  <head>
    <title>Bookit</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <h1><a href="/">BookIt</a></h1>
        </div>
      </div>

      <%= yield %>
    </div>

  </body>
</html>
